@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, span {
    font-family: 'Space Grotesk', sans-serif;
}

p, a {
    font-family: 'Rubik', sans-serif;
}

/* Start of Containers */

#nav-container {
    height: 10vh;
    width: 100%;
}

#header-container {
    height: 90vh;
    width: 100%;
}

/* End of containers */


#neonText {
    color: #35c87c;
    text-shadow:
    rgb(51, 255, 0) 0px 0px 1px, 
    rgba(0, 249, 4, 0.6) 0px 0px 5px,
    rgba(37, 249, 0, 0.4) 0px 5px 4px
}

#highlight-bg {
	padding: 6px 6px;
    background-color: rgba(25, 180, 100, 0.1);
}